* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.main_content {
  background-color: #f2f3f7;
  padding: 40px 30px;
  max-width: 445px;
}

.heading {
  padding-bottom: 2px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 35px;
  opacity: 0.6;
}

.content_heading:before,
.content_heading:after {
  border-top: 2px solid #cfd0d4;
  position: absolute;
  margin-top: 18px;
  content: "";
  width: 100%;
}

.content_heading:before {
  margin-left: -102%;
}

.content_heading:after {
  margin-left: 2%;
}

.content {
  margin-bottom: 35px;
  opacity: 0.6;
}

.registration_form {
  flex-direction: column;
  display: flex;
}

.wrapper_name {
  justify-content: space-between;
  display: flex;
}

.label {
  margin-bottom: 25px;
}

.input {
  padding: 10px;
  width: 100%;
}

.name {
  max-width: 180px;
}

.wrapper_accept {
  opacity: 0.6;
}

.input_accept {
  margin-right: 8px;
}

.link {
  text-decoration: none;
  color: #4da54e;
}

.button {
  background-color: #4da54e;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  padding: 13px;
  border: 0;
}
